@import url('./colors.css');
.navbutton {
  padding-inline: 28px;
  border-right: 6px solid black;
  color: white;
  font-weight: bold;
  font-size: 30px;
}
nav {
  background-color: green;
  padding: 25px;
  padding-right: 28;
  display: flex;
  justify-content: end;
}
body {
  font-family: "Poppins";
  margin: 0px;
  user-select: none;
  img{
    -webkit-user-drag: none;
    user-drag: none;
  }
}
.head {
  display: flex;
  padding: 25px 30px;
  font-weight: bold;
  font-size: 30px;
  align-items: center;
  .circle {
    color: white;
    background-color: black;
    border-radius: 60px;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
}
.sobre-content {
  display: flex;
  align-items: start;
  padding: 60px 224px;
  gap: 200px;
  justify-content: center;
  h1 {
    padding-left: 8px;
    border-left: 6px solid;
    margin-top: 20px;
  }
  p {
    font-size: 20px;
  }
}
.foto {
  width: 350px;
  height: auto;
}
.portifolio-content {
  background-color: var(--verde);
  box-shadow: 1420px 0px;
  position: relative;
  overflow: hidden;
  .blur-black {
    position: absolute;
    top:0;
    z-index: 0;
  }
  .blur {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 0;
  }
  .blur2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    transform: rotate(180deg);
    z-index: 0;
  }
  .lista-projetos {
    display: flex;
    padding: 80px 40px 160px 40px;
    flex-direction: row;
    gap: 40px;
    overflow-x: auto;
    position: relative;
    height: 400px;
    }
    .buttons{
      position:sticky;
      display: flex;
      gap: 85vw;
      top: 42%;
      padding-left: 40px;
      pointer-events: none;
      z-index: 20;
      height: 40px;
      width: auto;
      .seta-e {
        transform: rotate(180deg);
        left: 40px;
        cursor: pointer;
        width: 40px;
        height: 40px;
        pointer-events: all;
        
      }
      .seta-d {
        right: 0px;
        z-index: 20;
        cursor: pointer;
        width: 40px;
        height: 40px;
        
        pointer-events: all;
      }
    } 
  .projeto {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: black;
    width: 300px;
    height: auto;
    gap: 20px;
    border-radius: 14px;
    z-index: 10;
    h1 {
      justify-content: center;
      width: 100%;
      color: white;
      margin: 0px;
      cursor: pointer;
    }
    p {
      display: flex;
      padding-left: 30px;
      border-left: 6px solid white;
      color: white;
      margin: 0px;
      margin-bottom: 40px;
    }
  }
}


.skills-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 28px 20px 28px;
  align-items: center;
  height: 450px;
}
.barras {
  background-color: black;
  border-radius: 15px;
  padding: 10px 15px;
  width: 850px;
  height: 40px;
  display: flex;
  align-items: center;
}  
.progress {
  background-color: blue;
  height: 32px;
  border-radius: 6px;
  margin-left: 42px;
}
.skill-name {
  width: 200px;
  text-align: left;
  color: white;
}


.contato-content {
  background-color: var(--verde);
  box-shadow: 1420px 0px ;
  position: relative;
  overflow: hidden;
  .blur-black {
    position: absolute;
    top:0;
    z-index: 0;
  }
  .blur {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 0;
  }
  .blur2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    transform: rotate(180deg);
    z-index: 0;
  }

}
.dados-content {
  display: flex;
  padding: 40px 40px;
  gap: 40px;
}
.local {
  background-color: white;
  z-index: 10;
}
.contato {
  z-index: 10;
}

